<div class="container">
    <h3>Creating Something Together</h3>
    <p>Patrick and Amber live in Colorado with their two sons. For as long as they've been together
    they have dreamed of combining their talents to create something fantastic. 'create a date' started
    as a surprise adventure for Amber and quickly turned into a fun side project. <br/><br/>
    
    We had a great time on our 'create a date' and we hope you will too! </p>
</div>

<style>
    .container {
        background-color:#EDD3B9;
        height:100vh;
        width:100%;
    }
</style>