<div id="container1">
    <div class="container-fluid">
            <div class="row">
                <h1><b>create a date.</b></h1>
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        <div> <a class="btn btn-default" href="/builder">Date Builder</a></div>
                        <h6>Create a date for someone to go on.</h6>
                    </div>
                    <div class="col-xs-6">
                        <div><a class="btn btn-default" href="/lookup">My Date</a></div>
                        <h6>A date was created for me.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br />

<div id="container2">
        <div class="container-fluid" id="aboutDescription">
            <div class="row">
                <h1>how it works!</h1>
            </div>
            <div class="row">
                <p>Remember those choose your own adventure books from when you were a kid? We modeled
                "create a date" off of those fond memories! You start by choosing the number of starting
                locations you need and then fill in activity choices based on your location. When you go 
                on your date your significant other will be able to choose between the location and then
                subsequent activities. It will be an experience you'll never forget.
                Still confused? Check out our sample dates!</p>
            </div>
    </div>
</div>


<style>
    #container1 {
        background-image: url('dist/romantic-sun-drink-date-crop.jpg') ;
        background-size: cover;
        background-repeat:no-repeat;
        background-position:center;
        padding-top:90px;
        padding-bottom:100px;
        text-align:center;
        width:100%;
        height:360px;
    }

    #aboutDescription {
        margin-left:15px
    }
</style>

<style>
    h1 {
        color: dimgray;
    }
    h6 {
        color:dimgray;
    }
    
    p {
       font-size:15px;
    }
</style>

<style>
    #container2 {
        background-color:#EDD3B9;
        margin-top:-20px;
        height:300px;
    }
</style>

