<div id="container1">
    <div class="container-fluid">
        <div class="responsive-scale">
            <div class="row">
                <h1><b>create a date.</b></h1>
                <!--Create a choose your own adventure date that your significant other will never forget.-->
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        <div> <a class="btn btn-default" href="/builder">Date Builder</a></div>
                        <h6>Create a date for someone to go on.</h6>
                    </div>
                    <div class="col-xs-6">
                        <div><a class="btn btn-default" href="/lookup">My Date</a></div>
                        <h6>A date was created for me.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<!--<div id="container2">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="about us">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </div>
                <div class="tab-pane fade active in" id="how it works">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </div>
            </div>
</div>
    </div>-->


<style>
    #container1 {
        background-image: url('dist/romantic-sun-drink-date-crop.jpg') ;
        background-size: cover;
        background-repeat:no-repeat;
        background-position:center;
        padding-top:90px;
        padding-bottom:100px;
        text-align:center;
        width:100%;
        height:360px;
    }
</style>

<style>
    h1 {
        color: dimgray;
    }
    h6 {
        color:whitesmoke;
    }
</style>



