<div class="container-fluid" id="date">
    <div class="row">
        <div class="col-sm-offset-5 col-sm-2 col-xs-12">
            <button class="btn btn-default" (click)="startDate()">Let's start our date!</button>
            <img src="/dist/balls.gif" id="loading-indicator" style="align-content:center;display:none"/>
        </div>
    </div>

    <div class="row">
        <h3>{{date?.name}}</h3>
    </div>
    <br/>

<!-- Locations -->
<div id="mylocations" *ngIf="locationShown" class="row">
    <!--<h4>First, Choose your Location!</h4>-->
    <div *ngFor="let location of date.locations" class="col-xs-6">
        <button class="btn btn-default btn-lg" (click)="startActivities(location)">{{location.name}}</button>
    </div>
</div>

<!-- Activities -->
<div *ngIf="activitiesEnabled" class="row">
    <!--<h4>Activity Group {{currentActivityOrder}}</h4>-->
    <div *ngFor="let activity of currentActivities" class="col-xs-6" [attr.id]="'activity'+activity.activityId">
        <button class="btn btn-default btn-lg" (click)="showActivityDetails(activity)">{{activity.name}}</button><br />
        <div *ngIf="detailsShown">
            <h4>{{activity.description}}</h4><br />
            {{activity.address}}<br />
            <button class="btn btn-success" S (click)="goToActivities()">Finished {{activity.name}}</button>
        </div>
    </div>
</div>
</div>

