<div class="container">
    <br />
        <p>
            Remember those choose your own adventure books from when you were a kid? We modeled
            "create a date" off of those fond memories! You start by choosing the number of starting
            locations you need and then fill in activity choices based on your location. When you go
            on your date your significant other will be able to choose between the location and then
            subsequent activities. It will be an experience you'll never forget.
            Still confused? Check out our sample dates!
        </p>
    </div>
<div class="container" id="sampledates">
    <div class="row">
        <h1>sample dates</h1>
    </div>
    <div class="row">
        <a href="date/34">
            <img src="dist/black-and-white-city-skyline-buildings-medium.jpg" class="img-circle img-circle-margin" alt="Downtown" width="254" height="186">
        </a>
        <a href="date/34">
            <img src="dist/popcorn-movie-party-entertainment-medium.jpg" class="img-circle img-circle-margin" alt="Movies" width="254" height="186">
        </a>
        <a href="date/34">
            <img src="dist/pexels-photo-208043-medium.jpeg" class="img-circle img-circle-margin" alt="Home" width="254" height="186">
        </a>
        <a href="date/34">
            <img src="dist/fall-autumn-red-season-medium.jpg" class="img-circle" alt="Downtown" width="254" height="186">
        </a>
    </div>
</div>

<style>
    .container {
        background-color:#EDD3B9;
        width:100%;
        height:300px;
    }

    #sampledates {
        padding-left:20px;
    }
</style>