<!--When you Create a Date for someone your possibilities are endless. First you'll choose how many starting points you'd like.
If you are planning to be in one area, one starting point is all you need. If you'd like your companion to choose between two
places farther away you'll want to select two or starting points.

Once your starting points are set you'll define your activities. The option that you insert will display to your companion as
an option. If that option is selected, more information will be displayed. The information displayed will come from the Description
section. For example, if you'd like to present 'Go to Coffee' as an option, simply type 'Go to Coffee' in either Option 1 or Option 2
and then search for the coffee shop you'd like in the corresponding 'Description' section.-->

Your face