    .options {
        margin-top: 60px;
    }

    html {
    background-color: #EDD3B9;
}

.panel-default > .panel-heading {
  color: black;
  background-color: lightgrey;
  border-color: lightgrey;
}