<!-- put in an email address so we know where to send the date-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" date-parent="accordion">The Basics</a>
               </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label" for="dateTitle">What shall we call this date?</label>
            <input type="text" id="dateTitle" class="form-control" #dName (keyup)="onNameEntry(dName.value)" [(value)]="dateName" required/>
            <br />
            <label class="control-label" for="dateTitle">Email Address</label>
            <input type="text" id="emailAddress" class="form-control" #email (keyup)="onEmailEntry(email.value)" [(value)]="emailAddress" required />
            <div class="col-xs-12">
                <small><span class="help-block">We need this to send your date ID so you can access your date. We won't ever sell your email address.</span></small>
            </div>
        </div>
    </div>
</div>
    <!-- New Code -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">How many starting locations do you need?</h3>
    </div>
<div class="panel-body">
    <div class="form-group">
        <div *ngIf="displaySelector1" class="col-xs-6">
            <button class="btn btn-default btn-lg" (click)="goToLocation()">One</button>
            <!--If you click 1 you should just start adding activities-->
        </div>
        <div *ngIf="displaySelector2" class="col-xs-6">
            <button class="btn btn-default btn-lg" (click)="goToLocation(true)">Two</button>
            <!--If you click 2 it should bring up the starting points form.-->
        </div>
        </div>
        <div class="col-xs-12">
            <small>
                <span class="help-block">
                    Choose one if your activities are close to one another. Choose two if your activities will
                    depend on the starting location selected.
                </span>
            </small>
        </div>
    </div>
    </div>
<!-- End New COde -->

<div *ngIf="displayLocs" class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Starting Locations</h3>
</div>
<div class="panel-body">
    <div id="locations">
        <div class="row">
            <div class="form-group">
                <div *ngIf="displayLocation1" class="col-xs-6">
                    <label class="control-label" for="focusedInput">Starting Location 1</label>
                    <input class="form-control" id="focusedInput" type="text" placeholder="Starting Location 1" #loc1 (keyup)="onLoc1Change(loc1.value)" [(value)]="location1.name" required>
                </div>
                <div *ngIf="displayLocation2" class="col-xs-6">
                    <label class="control-label" for="focusedInput">Starting Location 2</label>
                    <input class="form-control" type="text" placeholder="Starting Location 2" #loc2 (keyup)="onLoc2Change(loc2.value)" [(value)]="location2.name" required>
                </div>
            </div>
            <div class="col-xs-12">
                <small><span class="help-block">Examples include: Uptown/Downtown, Boulder/Denver, etc. If all of your activities are
                    in one general area go back and select One for number of starting locations to start adding activities.</span></small>
            </div>
        </div>
    </div>
</div>
    </div>
<div class="row" *ngIf="showStartButton">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="locationSubmit()">Add Activities</button>
        <!--Can this button auto update with whatever they inserted for Starting Point 1?-->
    </div>
    </div>
<br />
<div id="location1Options" hidden>
    <div class="row" *ngFor="let group of activity1Groups">
       <activity-options [groupNumber]="group.id" [locationNumber]="1"></activity-options>
    </div>
        <div class="col-md-3 col-xs-12">
            <button class="btn-info btn btn-block" (click)="activitySubmit()">Add Another Activity Set</button>
            <!--When you click on this it will duplicate the location options and scroll down while leaving the previous set of activities open for editing-->
        </div>
        <div class="col-md-3 col-xs-12 pull-right">
            <button class="btn-success btn btn-block" (click)="goToLocation2()">Add Activities {{location2.name}}</button>
            <!--When you click on this it will bring up the location options and get rid of the activities for location 1-->
        </div>
</div>

<div id="location2Options" hidden>
    <div class="row" *ngFor="let group of activity2Groups">
        <activity-options [groupNumber]="group.id" [locationNumber]="2"></activity-options>
    </div>
    <div class="col-md-3 col-xs-12">
        <button class="btn-info btn btn-block" (click)="activity2Submit()">Add Another Activity Set</button>
        <!--When you click on this it will duplicate the location options and scroll down while leaving the previous set of activities open for editing-->
    </div>
    <div class="col-md-3 col-xs-12 pull-right">
        <button class="btn-success btn btn-block" (click)="finishDate()">Finish Building Date!</button>
        <!--When you click on this it will bring up the location options and get rid of the activities for location 1-->
    </div>
</div>

<!-- New Code -->
<div id="locationOptions" hidden>
    <div class="row" *ngFor="let group of activity1Groups">
        <activity-options [groupNumber]="group.id" [locationNumber]="1"></activity-options>
    </div>
    <div class="col-md-3 col-xs-12">
        <button class="btn-info btn btn-block" (click)="activitySubmit()">Add Another Activity Set</button>
        <!--When you click on this it will duplicate the location options and scroll down while leaving the previous set of activities open for editing-->
    </div>
    <div class="col-md-3 col-xs-12 pull-right">
        <button class="btn-success btn btn-block" (click)="finishDate()">Finish Building Date!</button>
        <!--When you click on this it will bring up the location options and get rid of the activities for location 1-->
    </div>
</div>