#builder {
    padding-top:50px;
        background-color:#EDD3B9;
    height:100vh;
    width:auto;
}


.panel-default > .panel-heading {
  color: black;
  background-color: lightgrey;
  border-color: lightgrey;
}

html {
    background-color: #EDD3B9;
}
